#img-bg{
    background-image: url('https://i.pinimg.com/564x/fb/e6/64/fbe664c209b6e55bdffc7eddb122316e.jpg');
    min-height: 789px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}