#img-bg{
    background-image: url('https://i.pinimg.com/564x/4f/a1/0b/4fa10b8fea85220e2b6eaf88f5b4e68b.jpg');
    min-height: 789px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



